body {
   background-color: rgb(90, 158, 160);
}
.contenedora {
    max-width: 780px;
    margin: 0 auto;
}
.logo {
    width: 30%;
    border-radius: 180px;
}
.cabecera {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}
.slogan {
    max-width: 55%;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 60px;
    align-self: center;
    padding-left: 10%;
}
.titulos {
    width: 100%;
}
.menu {
    display: flex;
    justify-content: space-around;
    padding-left: 0%;
    font-family:'Barlow Condensed', sans-serif;;
   
}
.menu li a {
    background-color: rgb(166, 212, 212);
    padding: 10px;
    border-style: double;
}
.menu li {
    margin: 15px;
    list-style: none;
}
.imageneshome {
    width: 200px;
    height: 320px;
    border-style: groove;
    border-width: 8px;
}
.sectioncontenedora {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer {
    background-color: rgb(166, 212, 212);
    border-radius: 100px;
}
h2 {
    font-family: 'Barlow Condensed', sans-serif;
}
h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.fechas {
    font-family: 'Open Sans Condensed', sans-serif;
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
footer ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 15px;
    font-family: 'Barlow Condensed', sans-serif;;
}
footer ul li a {
    border-style: double;
    padding: 6px;
}

/* CSS DETAIL-MOVIE.HTML */

.detallespeliculas {
    font-family: 'Open Sans Condensed', sans-serif;
    list-style: square;
    max-width: 50%;
    padding-left: 10%;
}
.detalles article {
    display: flex;
    flex-wrap: wrap;
}

/* CSS GENRES.HTML */

.generos {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}
.generos article {
    border-style:groove;
    border-color: rgb(166, 212, 212);
    border-radius: 20px;
    margin: 20px;
    background-color: lightskyblue;
}

.generoimg {
    width: 100px;
    height: 100px
}

/* CSS DETAIL-GENRES.HTML */

.imagenesgeneros {
    width: 165px;
    height: 265px;
    border-style: groove;
    border-width: 8px;
}
.peliculasgeneros {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}
.peliculasgeneros article {
    padding-right: 14px;
}
.titulodetailgenres {
    width: 100%;
    font-size: 35px;
    border-style: solid;
    display: flex;
    justify-content: space-around;
    border-color: rgb(166, 212, 212);
}
.titulosgeneros {
    width: 100%;
    font-size: 30px;
    text-decoration: underline;
    text-decoration-color: rgb(166, 212, 212);

}
.peliculasgeneros h3 {
    font-size: 15px;
}

.titulofav {
text-align: center;

}

/* Buscador*/

.buscador {
text-align: center;
margin-top: 20px;
}

/* Desktop */

@media (min-width:1024px){
    
}