body {
   background-color: rgb(90, 158, 160);
}
.contenedora {
    max-width: 780px;
    margin: 0 auto;
}
.logo {
    width: 30%;
    border-radius: 180px;
}
.cabecera {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}
.slogan {
    max-width: 55%;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 60px;
    align-self: center;
    padding-left: 10%;
}
.titulos {
    width: 100%;
}
.titulos2 {
    width: 100%;
    background-color: lightskyblue;
    display: flex;
    justify-content: center;
}
.menu {
    display: flex;
    justify-content: space-around;
    padding-left: 0%;
    font-family:'Barlow Condensed', sans-serif;;
   
}
.menu li a {
    background-color: rgb(16, 129, 129);
    padding: 10px;
    border-style: double;
}
.menu li {
    margin: 15px;
    list-style: none;
}
.banner {
    width: 760px; height: 270px;
    border-style: groove;
    border-width: 10px;
    border-color: darkgrey;
    max-width: 95%;
    margin-left:0.5% ;
}
.imageneshome {
    width: 200px;
    height: 300px;
    border-style: groove;
    border-width: 8px;
}
.sectioncontenedora {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sectioncontenedora article {
    background-color:rgb(166, 212, 212);
    padding: 10px;
    margin-bottom: 18px;
    margin-top: 18px;
}
footer {
    background-color: rgb(16, 129, 129);
    border-radius: 100px;
}
h2 {
    font-family: 'Barlow Condensed', sans-serif;
}
h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.fechas {
    font-family: 'Open Sans Condensed', sans-serif;
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
footer ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 15px;
    font-family: 'Barlow Condensed', sans-serif;;
}
footer ul li a {
    border-style: double;
    padding: 6px;
}
footer nav h3 {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    font-family: 'Open Sans Condensed', sans-serif;
    text-decoration: underline;
}

/* CSS DETAIL-MOVIE.HTML */

.detallespeliculas {
    font-family: 'Open Sans Condensed', sans-serif;
    list-style: square;
    max-width: 50%;
    padding-left: 10%;
}
.detalles article {
    display: flex;
    flex-wrap: wrap;
}

/* CSS GENRES.HTML */

.generos {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}
.generos article {
    border-style:groove;
    border-color: rgb(166, 212, 212);
    border-radius: 20px;
    margin: 20px;
    background-color: lightskyblue;
}

.generoimg {
    width: 100px;
    height: 100px
}

/* CSS DETAIL-GENRES.HTML */

.imagenesgeneros {
    width: 150px;
    height: 260px;
    border-style: groove;
    border-width: 8px;
}
.peliculasgeneros {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    background-color:rgb(166, 212, 212) ;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 30px
}
.peliculasgeneros article {
    padding-right: 14px;
}
.titulodetailgenres {
    width: 100%;
    font-size: 35px;
    border-style: solid;
    display: flex;
    justify-content: space-around;
    border-color: rgb(166, 212, 212);
}
.titulosgeneros {
    width: 100%;
    font-size: 30px;
    display: flex;
    justify-content: center;
    text-decoration: underline;
    text-decoration-style: double;
}
.peliculasgeneros h3 {
    font-size: 15px;
}

.titulofav {
text-align: center;

}

/* Buscador*/

.buscador {
text-align: center;
margin-top: 20px;
}

/* Desktop */

@media (min-width:1024px) {


.contenedora {
max-width: 95%;

}

.banner{
    max-width: 100%;
    align-items: center;
    margin-left: 8%;
}








}