
* {
    box-sizing: border-box;
}
img {
    width: 100%;
}
body {
   background-color: rgb(90, 158, 160);
}
.contenedora {
    max-width: 780px;
    margin: 0 auto;
}
.logo {
    width: 30%;
    border-radius: 180px;
}
.cabecera {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}
.slogan {
    max-width: 55%;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 60px;
    align-self: center;
    padding-left: 10%;
}
.titulos {
    width: 100%;
}
.titulos2 {
    width: 100%;
    background-color: lightskyblue;
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
}
.menu {
    display: flex;
    justify-content: space-around;
    padding-left: 0%;
    font-family:'Barlow Condensed', sans-serif;;
   
}
.menu li a {
    background-color: rgb(16, 129, 129);
    padding: 10px;
    border-style: double;
}
.menu li {
    margin: 15px;
    list-style: none;
}
.banner {
    width: 100%;
    border-style: groove;
    border-width: 10px;
    border-color: darkgrey;
}
.imageneshome {
    width: 100%;
    border-style: groove;
    border-width: 8px;
}
.sectioncontenedora {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sectioncontenedora2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sectioncontenedora3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.articlecontenedor {
    background-color:rgb(166, 212, 212);
    padding: 20px;
    margin-bottom: 18px;
    margin-top: 18px;
    width: 30%;
}
footer {
    background-color: rgb(16, 129, 129);
    border-radius: 100px;
}
.tmdb {
    width: 100%;
    border-radius: 50px;
    padding: 15px;
}
h2 {
    font-family: 'Barlow Condensed', sans-serif;
}
h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.fechas {
    font-family: 'Open Sans Condensed', sans-serif;
    list-style: none;
    width: 70%;
}
.agregarafavs {
    display: inline-block;
    margin-top: 5%;
}
a {
    text-decoration: none;
    color: black;
}
footer ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 15px;
    font-family: 'Barlow Condensed', sans-serif;
}
footer ul li a {
    border-style: double;
    padding: 6px;
}
footer nav h3 {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    font-family: 'Open Sans Condensed', sans-serif;
    text-decoration: underline;
}

/* CSS DETAIL-MOVIE/SERIES.HTML */
.detalles > * {
    width: 48%;
}
.detalles {
    display: flex;
    flex-wrap: wrap;
}
.detallespeliculas {
    font-family: 'Open Sans Condensed', sans-serif;
    list-style: square;
}
.imagenesdetail {
    border-style: groove;
}


/* CSS GENRES.HTML */

.generos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.generosseries {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.generos article {
    border-style:groove;
    border-color: rgb(166, 212, 212);
    border-radius: 20px;
    margin: 20px;
    width: 15%;
    background-color: lightskyblue;
}
.generosseries article {
    border-style:groove;
    border-color: rgb(166, 212, 212);
    border-radius: 20px;
    margin: 20px;
    width: 15%;
    background-color: lightskyblue;
}
.generoimg {
    width: 100%;
    height: 60%;
}

/* CSS DETAIL-GENRES.HTML */

.imagenesgeneros {
    width: 100%;
    height: 230px;
    border-style: groove;
    border-width: 8px;
}
.peliculasgeneros, .seriesgeneros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    background-color:rgb(166, 212, 212) ;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 30px
}
.seriesgeneros article {
    width: 25%;
    padding: 2%;
}
.peliculasgeneros article {
    width: 25%;
    padding: 2%;
}
.titulodetailgenres {
    width: 100%;
    font-size: 35px;
    border-style: solid;
    text-align: center;
    border-color: rgb(166, 212, 212);
    font-family: 'Barlow Condensed', sans-serif; ;
}
.titulosgeneros {
    width: 100%;
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: double;
}
.peliculasgeneros h3 {
    font-size: 15px;
}

.titulofav {
text-align: center;

}

/* Buscador*/

#buscador {
text-align: center;
margin-top: 20px;
}

/*AGREGAR A FAVORITOS*/
.agregarafavs {
    display: inline-block;
    
}
.agregarafavsgenres {
    text-align: center;
    padding-top: 5px ;
}
/* Mobile */

/*INDEX*/

@media (max-width: 420px){

    .cabecera {
        justify-content: space-between
    }
    .logo {
        width: 30%;
        margin: 5%;
    }
    .slogan {
        width: 70%;
        font-size: 200%;
        padding-left: 0%;
    }
    .menu {
        justify-content: space-between;
    }
    .menu li a {
        padding: 5px;
    }
    #buscador {
        text-align: center;
        margin-top: 20px
    }
    .banner {
        width: 100%;
        height: 50%
    }
    .titulos2 {
        margin-top: 2%;
        margin-bottom: 2%;
        font-size: 20px;
    }
    .sectioncontenedora article {
        width: 30%;
        margin-bottom: 1px;
        margin-top: 1px;
        padding: 5px;
    }
    .sectioncontenedora2 article {
        width: 30%;
        margin-bottom: 5px;
        margin-top: 5px;
        padding: 5px;
    }
    .sectioncontenedora3 article {
        width: 30%;
        margin-bottom: 5px;
        margin-top: 5px;
        padding: 5px;
    }
    .sectioncontenedora, .sectioncontenedora2, .sectioncontenedora3 {
        justify-content: space-evenly;
    }
    .imageneshome {
        width: 100%;
        height: 160px;
        border-width: 4px;
    }
    .titulofav {
        font-size: 10px;
    }
    .fechas {
        padding: 0px;
        margin: 0px;
        font-size: 13px;
        width: 100%;
    }
    footer {
        border-radius: 10px;
    }
    footer ul {
        padding-top: 0px;
    }
    /*GENRES*/

    .titulodetailgenres {
        font-size: 20px;
        width: 100%;
    }
    .generos article {
        border-style:groove;
        border-color: rgb(166, 212, 212);
        border-radius: 0px;
        margin: 5px;
        width: 30%;
        background-color: lightskyblue;
    }
    .generoimg {
        height: 70%;
    }
    .generosseries article {
        border-style:groove;
        border-color: rgb(166, 212, 212);
        border-radius: 0px;
        margin: 5px;
        width: 30%;
        background-color: lightskyblue;
    }

    /*DETAIL MOVIES/SERIES*/
    
    .imagenesdetail {
        border-style: groove;
        height: 260px;
    }

    /*DETAIL GENRES*/

    .peliculasgeneros article {
        width: 50%;
    }
    .imagenesgeneros {
        height: 190px;
        border-width: 5px;
    }





}
